@media (max-width: 992px)
    .header
        padding: 0 16px
        &__contacts
            width: 200px
    .promo
        padding: 21px 0
        min-height: 0px
        &__wrapper
            padding: 0 16px
            margin-top: 50px
        &__icons
            margin-top: 30px
    .button_promo
        margin-top: 35px
    .advantages
        min-height: 0px
        padding: 21px 16px
        &__items
            margin-top: 30px
            column-gap: 15px
        &__topic
            margin-top: 16px
        &__description
            margin-top: 16px
    .consultation
        min-height: 0
        padding: 21px 16px
        &__text
            text-align: center
    .title_consultation
        font-size: 30px
        text-align: center
        line-height: 45px
    .feed-form
        margin: 0 auto
        margin-top: 36px
    .carousel
        padding: 24px 24px 48px 24px
        &__slider
            width: 100%
            img
                width: 100%
    .catalog
        padding: 24px
        &__tabs
            margin-top: 16px
        &__list
            overflow: scroll
            max-height: 780px
            margin-top: 32px
            justify-content: center
        &__product
            width: auto
            max-width: calc(50% - 9px)
    .reviews
        padding: 24px
        &__review
            margin-top: 32px
        &__img
            margin-right: 32px

@media (max-width: 768px)
    .header
        &__logo
            width: 200px
            height: 36px
        &__official
            display: none
        &__contacts
            .button
                display: none
    .promo
        &__wrapper
            margin-top: 26px
        &__heading
            font-size: 32px
            line-height: 32px
        &__subheading
            font-size: 15px
            line-height: 15px
            margin-top: 8px
        &__icons
            margin-top: 42px
            width: 376px
        &__link
            font-size: 14px
            a
                font-size: 14px
    .button_promo
        margin-top: 24px
        width: 250px
        height: 40px
        font-size: 13px
    .advantages
        padding: 24px 16px
        &__items
            flex-direction: column
            column-gap: 0
            row-gap: 32px
        &__topic
            font-size: 20px
        &__description
            font-size: 16px
    .consultation
        &__text
            font-size: 18px
            line-height: 22px
            margin-top: 12px
    .title
        font-size: 26px
        line-height: 32px
        &_consultation
            br
                display: none
    .catalog
        &__tabs
            flex-direction: column
            align-items: center
            row-gap: 18px
        &__tab
            width: stretch
            max-width: 420px
        &__product
            max-width: 420px
    .reviews
        hr
            display: block
        &__review
            display: flex
            flex-direction: column
            align-items: center
        &__img
            margin: 0   
        &__name
            margin-top: 24px
            text-align: center
        &__runNumber
            text-align: center
        &__text
            text-align: center

@media (max-width: 576px)
    .header
        &__phone
            font-size: 14px
    .promo
        &__wrapper
            margin-top: 12px
        &__heading
            text-align: right
            font-size: 22px
        &__subheading
            text-align: right
            font-size: 10px
            margin-top: 0
        &__icons
            width: 80%
            margin-top: 28px
        &__icon
            font-size: 10px
            img
                width: 32px
                height: 32px
                margin-bottom: 12px
        &__link
            font-size: 10px
            margin-top: 4px
            a
                font-size: 11px
    .button_promo
        width: 200px
        height: 32px
        font-size: 11px
    .advantages
        &__item
            img
                width: 48px
                height: 48px
        &__topic
            font-size: 16px
        &__description
            font-size: 12px
            max-width: 80%
    .consultation
        &__text
            font-size: 12px
            line-height: 21px
    .button_form
        height: 42px
        font-size: 12px
    .feed-form
        margin-top: 18px
        input
            height: 42px
            font-size: 12px
    .title
        font-size: 22px
        &_consultation
            font-size: 16px
            font-weight: 600
            line-height: 28px